{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "{% static 'core/css/style.css' %}">
    <link rel = "stylesheet" href = "{% static 'core/css/header.css' %}">
    <link rel = "stylesheet" href = "{% static 'core/css/footer.css' %}">
    <link rel = "stylesheet" href = "{% static 'core/css/contact.css' %}">
    <link rel = "icon" type = "image/svg+xml" href = "{% static 'core/favicon/square_a_svg_icon.svg' %}">
    <link rel = "stylesheet" href = "{% static 'core/css/work.css' %}">
    <link rel = "stylesheet" href = "{% static 'core/css/about_me.css' %}">
    <title>{% block title %}{% endblock  %}</title>
    {% block meta %}
    {% endblock %}
</head>
<body>
    {% include 'core/partials/header.html' %}
    <main>
        {% block content %}
        {% endblock %}
    </main>
    {% include 'core/partials/footer.html' %}
</body>
<script src = "{% static 'core/js/header.js' %}"></script>
</html>
