.space_yard {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    scroll-behavior: smooth;
}
.line_five {
    width: 1px;
    height: 60%;
    background-color: black;
    margin-left: 5%;
    margin-top: 10%;
}
.space_station {
    width: 50%;
    height: auto;
}
.space_launch {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    animation: SlideAnimation 1s ease-in-out forwards;
}
@keyframes SlideAnimation {
    from {
        transform: translateX(-250px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}
.space_mine {
    display: block;
    font-size: 40px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}
.space_mine:after {
    content: "\2197";
    font-size: 80px;
}
.space_meteor {
    font-size: 25px;
    margin-left: 5%;
    margin-right: auto;
}
.aninda {
    display: inline-block;
    font-size: clamp(1rem, 2vw, 4rem);
    font-weight: bold;
}
.space_comet {
    margin-left: 5%;
    margin-right: auto;
    font-size: 18px;
}
.space_orbit {
    font-size: clamp(1rem, 3vw, 40rem);
    margin: 0px;
    padding: 0px;
    text-decoration: underline;
}
.space_rock {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 3%;
    margin-top: 4%;
}
@media screen and ( max-width: 768px ){
    .space_station {
        width: 100%;
    }
    .line_five {
        display: none;
    }
    .space_mine {
        font-size: 25px;
        margin: 0px;
        padding: 0px;
    }
    .space_mine:after {
        font-size: 40px;
    }
    .space_meteor {
        font-size: 20px;
        padding: 0px;
    }
    .aninda {
        display: inline-block;
        font-size: clamp(1rem, 5vw, 3rem);
        font-weight: bold;
    }
    .space_orbit {
        font-size: clamp(1rem, 7vw, 40rem);
    }
}
